/* NavBar.module.css */
.nav , .nav-container {
    max-width: 100%;
}

nav.transparent {
    background: none;
}

nav.absolute {
    position: absolute;
}
nav.fixed, nav.absolute {
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    right: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.btn.btn-white.transparent:hover{
    background-color: white;
    color: #000000 !important;
}

a, a:visited, a:focus, a:active, a:hover {
    text-decoration: none;
    outline: none;
}

.nav-utility{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    overflow: hidden;
}

.promo-bar {
    font-size: 15px;
}

.bg-brand-secondary {
    background: #000000 !important;
}

.text-center {
    text-align: center;
}

.module {
    display: inline-block;
    padding: 0 32px;
}

.color-white {
    color: #fff;
}

.uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.btn.btn-white.transparent, .btn.btn-white.transparent:visited {
    color: #fff !important;
    background-color: transparent;
}

.btn.btn-white {
    /* color: #333;
    background-color: #fff; */
    border-color: #fff;
}

.btn:last-child, .btn:last-of-type {
    margin-right: 0;
}

button.transparent {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

nav .btn{
    margin: 0;
    height: auto;
}

.btn{
    font-family: 'Roboto', 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-sm {
    height: 30px;
    font-size: 11px;
    line-height: 27px;
    min-width: 0;
}


.btn {
    padding: 0 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    text-align: center;
    -webkit-transition: all 0.3s ease;
}